{% extends 'info/base.html' %}
{% load static %}

{% block content %}
    <div id="content" class="w-full flex justify-center items-center">
        <div class="w-4/5 flex">
            <div class="w-1/2 p-5 flex justify-center items-center">
                <div>
                    <h1 class="text-7xl font-semibold text-white">Learn with Tacos</h1>
                    <p class="text-white pt-5">Machine Learning | Software Engineering</p>
                </div>
            </div>
            <div class="w-1/2 p-5 flex justify-center items-center">
                <img src="{% static 'images/brain.png' %}" alt="header image" />
            </div>
        </div>
    </div>
{% endblock %}
